#animated-background{
    background: linear-gradient(
        to right,#9e8205,
        #be0000,#3e5348);
    background-size: 400% 400%;
    animation: animate-background 10s infinate ease-in-out;
}

@keyframes animate-background{
    0%{
        background-position: 00% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
} 

h1, p{
    text-align:center;
    color:green;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(16, 21, 51);
    text-shadow: 0 0 50px purple;
    margin-top: 9%;
    color:#00ffdd;
    text-shadow:12px 12px 50px blueviolet;
}

#tetx{
    border:2px;
    width:270px;    
    height: 20px;
    margin-top: 5%;
    margin-left: 20%;
}   

#select{
    position: relative;
    margin-left: 35%;
    width: 100px;
}

#divider{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #passgeneretor{
    box-shadow: 0 0 5px rgb(1, 12, 12), 0 0 25px rgb(13, 8, 85);
    background-color:  rgb(3, 61, 148);
    margin-left: 60px;
    margin-top: 10px;
}

#passgeneretor:hover{
    box-shadow: 0 0 5px rgb(79, 112, 112), 0 0 25px rgb(82, 62, 197)
    ,0 0 50px rgb(163, 240, 153),0 0 100px rgb(16, 19, 19), 0 0 200px rgb(153, 63, 148);
}


#clearbutton{
    box-shadow: 0 0 5px rgb(1, 17, 46), 0 0 25px rgb(13, 8, 85);
    background-color: rgb(94, 23, 2);
    margin-left: 100px;
}

#clearbutton:hover{
    box-shadow: 0 0 5px rgb(79, 112, 112), 0 0 25px rgb(82, 62, 197)
    ,0 0 50px rgb(163, 240, 153),0 0 100px rgb(16, 19, 19), 0 0 200px rgb(153, 63, 148);
}

img{
    width:50%;
    height:40%;
    border:5px orange;
    box-shadow: 25px 25px 50px rgb(43, 34, 34),
                25px 25px 50px rgb(35, 37, 36),
                25px 25px 50px rgb(83, 85, 0);
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items:center;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 45%;
    color: #123870;
}
a:hover{
    color:rgb(105, 3, 3);
    text-transform:uppercase;
    text-decoration-line: underline;
    text-decoration-color: #050505;
}
a:active{
    color:rgb(206, 27, 176);
}
p::selection{
    background:#050102;
}
h1::selection{
    background:#050102;
}

#copybtn{
    box-shadow: 0 0 5px rgb(1, 17, 46), 0 0 25px rgb(13, 8, 85);
    background-color: rgb(94, 23, 2);
    margin-left: 100px;
}

#copybtn:hover{
    box-shadow: 0 0 5px rgb(79, 112, 112), 0 0 25px rgb(82, 62, 197)
    ,0 0 50px rgb(163, 240, 153),0 0 100px rgb(16, 19, 19), 0 0 200px rgb(153, 63, 148);
}